#weatherTile {
  box-sizing: border-box;
  font-size: 300%;
  background-color: teal;
  width: 100%;
  min-height: 90vh;
  padding-top: 10vh;
  background-repeat: no-repeat;
  background-size: 100vw 100vh;
}

.tile {
  box-sizing: border-box;
  height: 80%;
  max-width: 750px;
  margin: 0px auto;
  background: rgba(255, 255, 255, 1);
  padding: 2.5%;
  border-radius: 2.5%;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
}

.weatherName {
  flex: 0 0 100%;
  width: 100%;
}

.wIcon {
  box-sizing: border-box;
  padding-top: 10%;
  flex: 0 0 50%;
}

.wI {
  flex: 0 0 50%;
  font-size: 75%;
}

.wInfo {
  flex: 0 0 100%;
  text-align: justify;
  font-size: 50%;
  padding: 25px 40%;
}

.wInfo div {
  width: 20%;
  text-align: center;
}

.wInfo i {
  color: gray;
}

.weatherIcon {
  font-size: 250%;
}

.weatherIcon i {
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.weatherTemp {
  font-size: 300%;
}

.sun {
  background-image: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 71%
    ),
    linear-gradient(127deg, rgba(255, 251, 0, 0.6), rgba(0, 255, 0, 0) 71%),
    linear-gradient(336deg, rgba(255, 196, 0, 0.8), rgba(0, 0, 255, 0) 71%);
}
.moon {
  background-image: linear-gradient(
      217deg,
      rgba(0, 89, 253, 0.8),
      rgba(255, 0, 0, 0) 71%
    ),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 71%);
}
.rain-sun {
  background-image: linear-gradient(
      200deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 71%
    ),
    linear-gradient(127deg, rgba(255, 251, 0, 0.6), rgba(0, 255, 0, 0) 71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 71%);
}
.rain-moon {
  background-image: linear-gradient(
      217deg,
      rgba(0, 89, 253, 0.8),
      rgba(255, 0, 0, 0) 71%
    ),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 71%);
}

.day {
  background-image: linear-gradient(
      217deg,
      rgba(0, 173, 253, 0.8),
      rgba(255, 0, 0, 0) 71%
    ),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 71%);
}

.night {
  background-image: linear-gradient(
      217deg,
      rgba(0, 89, 253, 0.8),
      rgba(255, 0, 0, 0) 71%
    ),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 71%);
}

.bolt-day {
  background-image: linear-gradient(
      300deg,
      rgba(229, 231, 120, 0.8),
      rgba(255, 0, 0, 0) 71%
    ),
    linear-gradient(127deg, rgba(0, 81, 255, 0.6), rgba(0, 255, 0, 0) 71%),
    linear-gradient(336deg, rgba(251, 255, 0, 0.8), rgba(0, 0, 255, 0) 71%);
}
.bolt-night {
  background-image: linear-gradient(
      300deg,
      rgba(231, 233, 135, 0.8),
      rgba(0, 0, 0, 0) 71%
    ),
    linear-gradient(127deg, rgba(0, 162, 255, 0.6), rgba(0, 0, 0, 0) 71%),
    linear-gradient(336deg, rgba(251, 255, 0, 0.8), rgba(0, 0, 255, 0) 71%);
}
